* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* nagłówek */
header {
    background-color: #666;
    padding: 5px;
    text-align: center;
    color: white;
}

/* Dwie kolumny */
nav {
    float: left;
    width: 10%;
    background: #b7b9b5;
    padding: 20px;
	height: 250px;
}

/* menu*/
nav ul {
    list-style-type: none;
    padding: 0;
	text-align: center;
	line-height: 2.5;
}

article {
    float: left;
    padding: 20px;
    width: 90%;
    background-color: #f1f1f1;
	height: 250px;
}

/* czyszczenie */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Stopka */
footer {
    background-color: #d7dbd7;
    padding: 1px;
    text-align: center;
    color: black;
}

pr {color: red;}

.logo{
	width: 65px;
	height: 65px;
	float: left;
}

h3{
	font-family: Verdana;
	text-align: center;
	background-color: gray;
	border: 1px dotted black;
	border-radius: 5px;
}

a:link{
	background-color: #999;
	border: 1px dotted black;
}

a:hover{
	background-color: white;
}
a:active{
	font-size: 20px;
}



/* Responsywność */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}